.header-container{
    width: 100%;
    background-color: rgb(224, 173, 96);
}

.header-block{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-title{
    margin: 0;
    padding: 0;
}

.meta-icon{
    cursor: pointer;
}