.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.msg-container{
  margin: 0 auto;
  color: gray;
  margin-top: 1rem;
}


.msg-input{
  padding: .5rem;
  outline: none;
  border: 1.3px solid  rgb(224, 173, 96);
  border-radius: 3px;
  width: 12rem;

}

.waveButton {
  width: 6rem;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(224, 173, 96);
}

.waveinfo-block{
overflow: scroll;
}

.wave-info{
  width: 40%;
  margin: 0 auto;
  background-color: OldLace;
  margin-top: 16px;
  padding: 8px;
}